.user-page {
	display: flex;
	flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;
  overflow: hidden;
	background-color: #f0f2f5;
}

header {
	display: flex;
	background-color: #d9eaff;
  flex-direction: row;
	justify-content: center;
	gap: 5rem;
	padding: 1rem;
}

header button {
  background-color: #d4d4d4;
  color: rgb(0, 0, 0);
  border: 1;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

header button:hover {
  background-color: #0078f8;
}

.navbar {
	display: flex;
	justify-content: center;
	flex-shrink: 0;
	gap: 1rem;
	background-color: #ccd3d6;  
	padding: 1rem;
	width: fit-content;
	border-radius: 15px;
}

.page-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
	height: 100vh;
  align-items: flex-start;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: rgb(255, 0, 0);
}

.message-list {
  flex : 2;
  height: 50vh;
  overflow-y: auto;
  padding: 0 0 0 1rem;
}

.underline-black {
  width: 100%;
  height: 2px;
  margin: 0;
  background-color: #000000;
}