.user-profile {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
.logo img {
  height: 50px;
  width: auto;
}

.main-content {
  display: flex;
  flex: 1.1; 
  justify-content: space-between; /* Ensure items are spaced properly */
  align-items: flex-start; /* Align items at the top */
  gap: 20px; /* Space between the user info and messages */
  padding: 20px;
  background-color: #f9f9f9;
  color: #333;
  overflow: auto; /* Handle overflow if content exceeds the viewport */
  width: 100%; /* Ensure the container takes full width */
  box-sizing: border-box; /* Include padding and border in width/height */
}

.user-info {
 
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-width: 300px; /* Ensure a minimum width */
}

.messages-box {
  flex: 2; /* Take up 2 parts of the available space */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-width: 300px; /* Ensure a minimum width */
}